/*カテゴリ メニュー等のブロック*/
#searchCondition {
	display: inline-block;
}

/*商品全体のブロック*/
#productArea {
	vertical-align: top;
	padding-left: 200px;
	display: inline-block;
}

/*商品のブロック*/
#product {
	display: block;
	padding-top: 100px;
	width: 80％;
}

/*商品画像のブロック*/
.imageArea {
	float: left;
	padding-right: 200px;
}

/*商品のテキストブロック*/
.productInformation {
	float: left;
	padding-top: 20px;
	width: 300px;
}

/*検索ボックス*/
#searchForm {
	display: inline-block;
	vertical-align: top;
	width: 1000px;
}

#sbox {
	display: inline-block;
	left: 50px;
	outline: 0; /*クリック時の青い枠線消す*/
	height: 50px; /*検索ボックスの高さ*/
	width: 60%;
	padding: 0 10px; /*テキスト位置調整*/
	border-radius: 2px 0 0 2px; /*検索ボックスの角を丸める*/
	background: #eee; /*検索ボックスの背景カラー*/
}
/*検索ボタン*/
#sbtn {
	display: inline-block;
	width: 70px; /*検索ボタンの横幅*/
	height: 50px; /*検索ボタンの縦幅*/
	border-radius: 0 2px 2px 0; /*検索ボタンの角を丸める*/
	background: #7fbfff; /*検索ボタンの背景カラー*/
	border: none; /*検索ボタンの枠線を消す*/
	color: #fff; /*検索ボタンのテキストカラー*/
	font-weight: bold; /*検索ボタンのテキスト太字*/
	font-size: 16px; /*検索ボタンのフォントサイズ*/
}

/*検索ボタンマウスオーバー時*/
#sbtn:hover {
	color: #666; /*検索ボタンマウスオーバー時のフォントカラー*/
}

/*メニュー画面の位置 装飾は別*/
#menu {
	display: inline-block;
	vertical-align: top;
	clear: none;
	width: 200px;
}
/*対象商品のチェックボックス装飾*/
.cp_ipcheck {
	width: 250px;
	text-align: left;
}

.cp_ipcheck ul {
	margin: 0.5rem 0.5rem 2rem 0.5rem;
	padding: 0.5rem 1rem;
	list-style: none;
	border: 1px solid #cccccc;
}

.cp_ipcheck .list_item {
	margin: 0 0 0.5rem 0;
	padding: 0;
}

.cp_ipcheck label {
	line-height: 135%;
	position: relative;
	margin: 0.5rem;
	cursor: pointer;
}

.cp_ipcheck .option-input05 {
	position: relative;
	margin: 0 1rem 0 0;
	cursor: pointer;
}

.cp_ipcheck .option-input05:before {
	position: absolute;
	z-index: 1;
	top: 0.125rem;
	left: 0.1875rem;
	width: 0.75rem;
	height: 0.375rem;
	content: '';
	-webkit-transition: -webkit-transform 0.4s
		cubic-bezier(0.45, 1.8, 0.5, 0.75);
	transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
	-webkit-transform: rotate(-45deg) scale(0, 0);
	transform: rotate(-45deg) scale(0, 0);
	border: 2px solid #da3c41;
	border-top-style: none;
	border-right-style: none;
}

.cp_ipcheck .option-input05:checked:before {
	-webkit-transform: rotate(-45deg) scale(1, 1);
	transform: rotate(-45deg) scale(1, 1);
}

.cp_ipcheck .option-input05:after {
	position: absolute;
	top: -0.125rem;
	left: 0;
	width: 1rem;
	height: 1rem;
	content: '';
	cursor: pointer;
	border: 2px solid #f2f2f2;
	background: #ffffff;
}

/*カテゴリ*/
#category {
	width: 200px;
}

/*ラジオボタン*/
.cp_ipradio {
	width: 300px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cp_ipradio:before, .cp_ipradio:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.cp_ipradio .box {
	width: 90%;
	margin: 2em auto;
	text-align: left;
	border: 1px solid white;
	border-radius: 3px;
	background: #ffffff;
}

.cp_ipradio input[type=radio] {
	display: none;
}

.cp_ipradio label:focus, .cp_ipradio label:hover, .cp_ipradio label:active,
	.cp_ipradio input:checked+label {
	color: #4400ff;
}

.cp_ipradio label:focus:before, .cp_ipradio label:hover:before,
	.cp_ipradio label:active:before, .cp_ipradio input:checked+label:before
	{
	border-color: #4400ff;
	background: #ffffff;
}

.cp_ipradio label {
	font-size: 1em;
	font-weight: bold;
	line-height: 1;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 1em 1em 1em 3em;
	cursor: pointer;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #ffffff;
}

.cp_ipradio label:before {
	position: absolute;
	top: 1em;
	left: 1em;
	width: 10px;
	height: 10px;
	content: '';
	border: 0.2em solid #cccccc;
	border-radius: 50%;
}

.cp_ipradio input:checked+label:before {
	border-color: #4400ff;
	background: #4400ff;
}

.cp_ipradio input:disabled+label {
	cursor: not-allowed;
	color: rgba(0, 0, 0, 0.5);
	background: #efefef;
}

.cp_ipradio input:disabled+label:hover {
	border-color: rgba(0, 0, 0, 0.1);
}

.cp_ipradio input:disabled+label:before {
	border-color: #ffffff;
	background: #ffffff;
}

#nav {
	list-style: none;
	overflow: hidden;
}

#nav li {
	width: 70px;
	text-align: center;
	background-color: #333;
	float: left;
	height: 50px;
	line-height: 50px;
	margin-right: 2px;
}

#nav li.Page {
	width: 140px;
	text-align: center;
	background-color: #333;
	float: left;
	height: 50px;
	line-height: 50px;
	margin-right: 2px;
}

#nav li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding: 20px;
	font-weight: bold;
}

#listPage {
	vertical-align: top;
	padding-left: 30%;
	display: inline-block;
}