.parent {
	padding: 20px; /* 余白指定 */
	height: 150px; /* 高さ指定 */
}

.children {
	width: 500px; /* 幅指定 */
	height: 90px; /* 高さ指定 */
	margin: 0 auto; /* 中央寄せ */
}

.back {
	margin: 0 auto;
	margin-left: 30%;
	text-align: center;
	width: 80px;
	position: relative;
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #2548e4; /*色*/
	border-radius: 4px; /*角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05);
	font-weight: bold;
	border: solid 2px #2548e4;
	padding: 0.25em 0.5em;
	text-align: center /*線色*/;
	text-align: center;
}

.back:active {
	/*押したとき*/
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}