/*検索欄　メニューのブロック*/
#block1{

}

/*画像のブロック*/
#block2-A-A{
	display: inline-block;
	width: 50%;
	padding-left: 10%;
	margin: auto;
}

/*画像横のテキストブロック*/
#block2-A-B{
    padding-top: 100px;
    vertical-align: top;
    display: inline-block
}

/*画像下　説明欄*/
#block3{
	width: 1000px;
	height: 200px;
	border: solid;
	border-radius: 10px;
}

#botan{
	padding-left: 50%;
}

h1{
	padding-left:30%;
}


/*検索ボックス*/


#kennsaku{
    display: inline-block;
    vertical-align: top;
    width: 1000px;
}

#sbox{
    display: inline-block;
	left:50px;
	outline:0;/*クリック時の青い枠線消す*/
	height:50px;/*検索ボックスの高さ*/
	width:60%;
	padding:0 10px;/*テキスト位置調整*/
	border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/
	background:#eee;/*検索ボックスの背景カラー*/
}
/*検索ボタン*/
#sbtn{
    display: inline-block;
	width:70px;/*検索ボタンの横幅*/
    height:50px;/*検索ボタンの縦幅*/
	border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/
	background:#7fbfff;/*検索ボタンの背景カラー*/
	border:none;/*検索ボタンの枠線を消す*/
	color:#fff;/*検索ボタンのテキストカラー*/
	font-weight:bold;/*検索ボタンのテキスト太字*/
	font-size:16px;/*検索ボタンのフォントサイズ*/
}

/*検索ボタンマウスオーバー時*/
#sbtn:hover{
	color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/
}


/*メニュー画面*/
#menu{
    display: inline-block;
    vertical-align: top;
    clear: none;
	width: 200px;
}

nav li{

	list-style: none;/*リストの・消去*/
}


a{
	text-decoration: none;/*リストの下線消去*/
}

/*メニュー装飾*/

#menu ul {
	padding: 0;
	position: relative;
}

#menu ul li {
	line-height: 1.5;
	padding: 0.5em 0.5em 0.5em 1.7em;
	list-style-type: none!important;
	background: -webkit-linear-gradient(top, #whitesmoke 0%, whitesmoke 100%);/*グラデーション*/
	background: linear-gradient(to bottom, whitesmoke 0%, #dadada 100%);/*グラデーション*/
	text-shadow: 1px 1px 1px whitesmoke;/*文字を立体的に*/
	color: black;
}

#menu ul li:before {
	font-family: "Font Awesome 5 Free";
	content: "\f138";
	position: absolute;
	left : 0.5em; /*左端からのアイコンまでの距離*/
	color: orange; /*アイコン色*/
}

/*落札*/

.btn-square-so-pop {
    widows: 200px;
    height: 80px;
	margin: 10px 10px 10px 0px;
	position: relative;
	display: inline-block;
	padding: 0.5em 0.5em;
    text-decoration: none;
    text-align: center;
	color: #FFF;
	background: #fd9535;/*色*/
	border-radius: 4px;/*角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
	font-weight: bold;
	font-size: 30px;
	border: solid 2px #d27d00;/*線色*/
}

.btn-square-so-pop:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.btn-square-so-pop-red {
    widows: 200px;
    height: 80px;
	margin: 10px 10px 10px 0px;
	position: relative;
	display: inline-block;
	padding: 0.5em 0.5em;
    text-decoration: none;
    text-align: center;
	color: #FFF;
	background: red;/*色*/
	border-radius: 4px;/*角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
	font-weight: bold;
	font-size: 30px;
	border: solid 2px #d27d00;/*線色*/
}

.btn-square-so-pop-red:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}





