
/*検索画面装飾 位置は設定していない*/


/*フォーム全体*/
#searchForm {
	/*個別で設定する*/
}
/*検索ボタンマウスオーバー時*/
#sbtn:hover {
	color: #666; /*検索ボタンマウスオーバー時のフォントカラー*/
}

/*検索ボックス*/
#sbox {
	position: absolute; /*フォームの絶対位置*/
	left: 50px;
	top: 0;
	outline: 0; /*クリック時の青い枠線消す*/
	height: 50px; /*検索ボックスの高さ*/
	width: 620px;
	padding: 0 10px; /*テキスト位置調整*/
	border-radius: 2px 0 0 2px; /*検索ボックスの角を丸める*/
	background: #eee; /*検索ボックスの背景カラー*/
}
/*検索ボタン*/
#sbtn {
	width: 70px; /*検索ボタンの横幅*/
	height: 50px; /*検索ボタンの縦幅*/
	position: absolute; /*検索ボタンの絶対位置*/
	left: 680px; /*検索ボタンの位置調整*/
	top: 0;
	border-radius: 0 2px 2px 0; /*検索ボタンの角を丸める*/
	background: #7fbfff; /*検索ボタンの背景カラー*/
	border: none; /*検索ボタンの枠線を消す*/
	color: #fff; /*検索ボタンのテキストカラー*/
	font-weight: bold; /*検索ボタンのテキスト太字*/
	font-size: 16px; /*検索ボタンのフォントサイズ*/
}